// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container svg:nth-of-type(1) {
  margin-right: 1em;
  min-height: 2em;
  min-width: 2em;
}

.btn-info {
  color:white;
  font-weight: bold;
}

.contractspace {
  display: none;
  flex-direction: column;

  img {
    width: 160px!important;
    height: 86px!important;
  }
}

.block {
  display:flex;
  flex-direction: row;
}

.block span+span {
  margin-left:33%;
}

.hiddenInput {
  border: none;
  text-align: center;
  color:black;
}


.hiddenLink {
  display: none;
}

.redHidden {
  border:0.5px solid red;
}

.insertableArea {
  border:0.5px solid blue;
}

input[id*="gin-"] {
  width: 3.5rem;
  text-align: center;
  color: black;
}
